@font-face {
    font-family: 'Geist';
    src: url('../ex-1/fonts/Geist-Regular.woff2') format('woff2'),
         url('/fonts/geist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../ex-1/fonts/Geist-Bold.woff2') format('woff2'),
         url('/fonts/geist-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../ex-1/fonts/Geist-Italic.woff2') format('woff2'),
         url('/fonts/geist-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geist';
    src: url('../ex-1/fonts/Geist-Light.woff2') format('woff2'),
         url('/fonts/geist-light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: 'Geist', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    font-family: 'Geist', sans-serif;
    font-weight: normal;
}

h2 {
    font-family: 'Geist', sans-serif;
    font-weight: bold;
}

p.italic {
    font-family: 'Geist', sans-serif;
    font-style: italic;
}

p.light {
    font-family: 'Geist', sans-serif;
    font-weight: lighter;
}